<h1>Lets find out who you are</h1>
<%= bootstrap_form_for(@user, :url => wizard_path, :method => :put) do |f| %>
  <%= f.text_field :first_name, :placeholder => "First Name" %>
  <%= f.text_field :last_name, :placeholder => "Last Name" %>
  <%= f.text_field :email, :placeholder => "Email" %>
  <%= f.text_field :password, :placeholder => "Password" %>
  <%= f.text_field :password_confirmation, :placeholder => "Password Confirmation" %>
  <%= f.submit 'Next Step', :class => 'btn btn-primary' %>
<% end %>
