<div class="row text-center">
  <%= image_tag(user.try(:avatar) || 'image1.jpg', :class => "squawk-image") %>
</div>

<div class="row text-center">
    <p><%= user.first_name %><p>
    <p><%= user.username %><p>
    <p><%= user.bio %><p>
</div>

<div class="row text-center">
  <div class="col-xs-4 text-center">
    <p><small>Squawks</small><br /><%= user.squawks.count %></p>
  </div>
  <div class="col-xs-4 text-center">
    <p><small>Following</small> <%= user.follows.count %></p>
  </div>
  <div class="col-xs-4 text-center">
    <p><small>Followers</small> <%= user.followers.count %></p>
  </div>
</div>
