<div class="row top-border">
  <div class="col-lg-3">
    <img src="<%= squawk.user.avatar %>" onerror="this.src='<%=image_path("image1.jpg")%>';" alt="Missing Image">
  </div>
  <div class="col-lg-9">
    <div class="row">
      <span>
        <%= link_to squawk.user.first_name, profile_view_path(username: squawk.user.username) %>
        <span class="light-text">@<%= squawk.user.username %></span>
      </span>
      <h4><%= raw(squawk.body) %></h4>
      <%= time_ago_in_words(squawk.created_at) %> ago
    </div>
  </div>
</div>
