<div class="row">
  <div class="col-xs-4">
    <img src="<%= user.avatar %>" onerror="this.src='<%=image_path("image1.jpg")%>';" alt="Missing Image">
  </div>

  <div class="col-xs-7 col-xs-offset-1">
    <p><%= link_to user.first_name, profile_view_path(username: user.username) %> <span class="light-text">@<%= user.username %></span><p>
    <!-- Following and unfollowing -->
    <% if current_user.following?(user) %>
      <%= button_to "Unfollow", unfollow_path(username: user.username), :class => "btn btn-primary btn-sm", :method => :post %>
    <% else %>
      <%= button_to "Follow", follow_path(username: user.username), :class => "btn btn-primary btn-sm", :method => :post %>
    <% end %>
  </div>
</div>
